{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
	</div>
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<div class="panel-group">
			<div class="panel panel-default" style="margin-top:50px;">
				<div class="panel-heading" style="text-align:center; font-size:25px;">Account Details</div>
				<div class="panel-body">
					<form method="post" action="">
						{% csrf_token %}
  <section id="welcome_post" class="col-9">
      <h2>Welcome, <span id="prof_name">{{ user }}.</span> </h2>
      <h4 style="font-weight: 300;">Your Created Account Details Are....</h4>
      <br>

      <div class="text-center curr_bal">
          <h4>ACCOUNT NUMBER</h4>
          <h1 id="curr_bal" class="btn-info">{{ curr_user.account_number }}</h1>
      </div>
                          <div class="page-header">
                            <h1 class="text-center"><small>User Details</small></h1>
                        </div>
                        <div class="row">
    <div class="well">
        <h4>Account Created: {{ user.date_joined|date:'d-m-Y' }}</h4>
        <h4>Account No:{{ user.account_number }}</h4>
        <h4>Account Type:{{ user.account_type }}</h4>
        <div class="well">

        <div class="well">
          <h4>Account Name: {{ user.full_name }}</h4>
          <h4>Father Name: {{ user.father_name }}</h4>
          <h4>Mother Name: {{ user.mother_name }}</h4>
          <h4>Date of Birth: {{ user.date_of_birth }}</h4>
          <h4>Contact No: {{ user.phone }}</h4>
          <h4>Email Address: {{ user.email }}</h4>
          <h4>Address: {{ user.address }}</h4>
          <h4>Location: {{ user.city }}, {{ user.state }}</h4>


          </div>


    </div>
  </div>
</div>

                        </section></form>
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock content %}



