
<!DOCTYPE html>


{% load static %}

<html>
	<head>
		<title>Dashboard</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="static/x-icon" href="/static/favicon.ico">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	    <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
        <link href="{% static 'bootstrap.min.css' %}"  rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div>

		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
				<li><a href="/edit_profile">Edit Account Details</a></li>
		        <li><a href="/transfer">Money Transfer</a></li>
		        <li><a href="/account_details">Account Detail</a></li>
				<li><a href="/account_balance">Account balance</a></li>
  				<li><a href="/transactions">All Transactions </a></li>


			  </ul>
			  	<ul class="nav navbar-nav navbar-right">
			  		{% if user.is_authenticated %}
					<li><a href="Javascript:Void(0);">Welcome <b> {{request.user}} </b></a></li>
					    <li><a href="{% url 'logout' %}">Logout</a></li>
			  		{% else %}
			       		<li><a href="{% url 'register_view' %}">Sign up</a></li>
						<li><a href="{% url 'user_login' %}">Login</a>
			  		{% endif %}
      				</li>
	        	</ul>
		    </div>
		  </div>
		</nav>
		{% block content %}
<div class="row">
	{% if messages %}
	<div class="alert alert-success" id="myTabContent" >
		{% for message in messages %}
		{{ message }}
		{% endfor %}
	</div>
	{% endif %}
         {% csrf_token %}
		<div class="container">


            {% endblock content %}

		</div>
	</div></div></body>
</html>

